        /*custom*/

        article.post.hentry h1.entry-title {
            line-height: 40px !important;
        }


        section.tg-inner-wrap {
            margin-bottom: 10px;
            border-bottom: 1px solid #EEEEEE;
            padding-bottom: 10px;
        }

        article  section.tg-inner-wrap:last-child{
             border-bottom: none;
        } 

        @keyframes load-title {
            from {opacity: 0;transform: scale(-1,0);}
            to {opacity: 1; transform: scale(1,1);text-shadow: 3px 3px 3px rgba(0,0,0,0.6);}
            
        } 

         @keyframes load-title-2 {
            from {opacity: 0;}
            to {opacity: 1; transform: translate(0,0);text-shadow: 3px 3px 3px rgba(0,0,0,0.6);color: white;}
            
        } 
        .art-title,
        .art-title-1{
            width: 100%;
            font-size: 40px;
            text-align: center;
            margin: 10px auto;
            text-transform: uppercase;
            font-weight: bold;
            text-shadow: 3px 3px 3px rgba(0,0,0,0.6);
            color: linear-gradient(red, black);; /* For browsers that do not support gradients */
            
        }
        @media screen and (max-width: 900px) {
            .art-title,
            .art-title-1 {
                font-size: 18px;
            }
            ul.lydo li{
            font-size: 16px;


        }
        .step {
                display: block !important;
                width: 100% !important;
                font-size: 15px;
                margin: 5px 2px;
            }

        }
         @media screen and (max-width: 600px) {
            .art-title,
            .art-title-1 {
                font-size: 17px;
            }
            ul.lydo li{
            font-size: 15px;
            }

            .step {
                display: block !important;
                width: 100% !important;
                font-size: 15px;
                margin: 5px 2px;
            }

            .yk-kh img {
            width: 60px;
            height: 60px;
            position: absolute;
            top: 50%;
            left:2px;
            margin-top: -30px;
            border-radius: 50%;
        }

            .yk-kh .msg h6 {
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-size: 16px;

        }

        .yk-kh .msg h6  p{
            width: 60% !important;
            
        }


        }
         @media screen and (max-width: 480px) {
            .art-title,
            .art-title-1 {
                font-size: 16px;
            }
            ul.lydo li{
            font-size: 14px;
        }
        }


        .animation-1 {
            animation: load-title 2s;
        }

        .animation-2 {
            animation-name:  load-title-2;
            animation-delay: 0s;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            transform: translate(0,-50px);
        }

        ul.lydo {
            font-size: 30px;
        }
         ul.lydo li {
            padding: 10px 20px;
            list-style: none;
            margin: 5px 0;
            border-radius: 5px;
            text-align: justify;
            position: relative;
            width: 100%;
            opacity: 0;
         }
        ul.lydo li:first-child {
            background-color: black;
            color: #EEEEEE;
            top: -40px;
        }
        ul.lydo li:nth-child(2) {
            background-color: red;
            color: black;
            left: -100px;
        }
         ul.lydo li:nth-child(3) {
            background-color: lightblue;
            color: red;
            left: 300px;
        }
         ul.lydo li:nth-child(4) {
            background-color: #DDDDDD;
            color: blue;
            top: 300px;
        }

        @keyframes step-h {
            from{background-color: red; color: white; opacity: 0.5;transform: scale(0.5) rotate(360deg);}
            to {background-color: green; color: white; opacity: 1; zoom: 100%;transform: scale(1) rotate(0deg);}
        }

        @-webkit-keyframes step-h {
            from{background-color: red; color: white; opacity: 0.5;transform: scale(0.5) rotate(360deg);}
            to {background-color: green; color: white; opacity: 1; zoom: 100%;transform: scale(1) rotate(0deg);}
        }


         @keyframes step-p {
            from{ color: red; opacity: 0.5;zoom: 10%;transform:scale(0.5);}
            to { color: green; opacity: 1;zoom: 100%;transform:scale(1);}
        }

         @-webkit-keyframes step-p {
            from{ color: red; opacity: 0.5;zoom: 10%;transform:scale(0.5);}
            to { color: green; opacity: 1;zoom: 100%;transform:scale(1);}
        }


        .step {
            display: inline-block;
            width: 48%;
            text-align: center;
            position: relative;
            margin: 20px 10px;
            font-size: 18px
        }

        .step h6 {
            width: 100px;
            height: 100px;
            font-size:120%;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 50%;
            line-height: 100px;
            background-color: green;
            color: white;
            opacity: 0;
            animation-name: step-h;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            -webkit-animation-name: step-h;
            -webkit-animation-duration: 2s;
            -webkit-animation-fill-mode: forwards;
        }
        .step p {
            font-size: 100%;
            position: absolute;
            font-weight: bold;
            text-transform: uppercase;
            top: 50%;
            margin-top: -18px;
            left: 120px;
            vertical-align: middle;
            height: 100%;
            text-align: left;
            color: green;
            opacity: 0;
            animation-name: step-p;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            -webkit-animation-name: step-p;
            -webkit-animation-duration: 2s;
            -webkit-animation-fill-mode: forwards;
        }
        .step-1 h6,.step-1 p {
            animation-delay: 1s;
             -webkit-animation-delay: 1s;
        }
        .step-2 h6,.step-2 p {
            animation-delay: 3s;
            -webkit-animation-delay: 3s;
        }
        .step-3 h6,.step-3 p {
            animation-delay: 5s;
            -webkit-animation-delay: 5s;
        }
        .step-4 h6,.step-4 p {
            animation-delay: 7s;
            -webkit-animation-delay: 7s;
        }
     

       .msg-khachhang {
        position: relative;
        left: 0;
            width: 100%;
            background: url("../img/bg-4.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
            
       }
       .about-us {
         position: relative;
        left: 0;
            width: 100%;
            background: url("../img/bk-aboutus.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top center;
       }

       .about-us {
        color: white;
       }
       .about-us .art-title.aboutus {
            color: white;
            transition: all 1s;
       }
       @keyframes z-zoom {
            from{transform: scale(0.1,0.1);opacity: 1;zoom: -10;}
            to{transform: scale(1,1);opacity: 1;zoom: 1;}
       }
       @keyframes slogon-view {
            from{opacity: 0}
            to{transform: scale(1,1) translate(0,0);opacity: 1;zoom: 1;}
       }
       .t2-description h5 {
            color: red;
            font-size: 28px;
            text-shadow: 2px 2px 2px black;
            opacity: 0;
            text-align: center;
            animation-name: z-zoom;
            animation-duration: 4s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
       }
       ul.slogan {
            font-size: 25px;
            line-height: 30px;
            list-style: square;
            padding: 30px 40px;
            width: 100%;
            margin-left: 0;
            background-color: rgba(0,0,0,0.5);
       }
       ul.slogan li {
            padding: 5px;
            margin: 10px;
            animation-name: slogon-view;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            opacity: 0;
            position: relative;
            text-shadow: 1px 1px 1px lightblue;
       }
       ul.slogan li:first-child {
            transform: scale(0.5,0.5) translate(10px, 10px);
            animation-delay: 6s;
       }
        ul.slogan li:nth-child(2) {
            transform: scale(2,2);
            animation-delay: 8s;
       }
        ul.slogan li:nth-child(3) {
            transform: scale(3,3);
            animation-delay: 10s;
       }
        ul.slogan li:last-child {
            transform: scale(4,4);
            animation-delay: 12s;
       }

       .msg-khachhang  h4 {
        color: white;
        opacity: 1;
        font-size: 28px;
       }

       .msg-khachhang h5 {
        color: white;
        font-size: 22px;
        text-align: center;
        font-weight: 300;
       }
        
        .yk-kh {
            display: inline-block;
            min-height: 200px;
            position: relative;
            min-width: 300px;
            max-width: 540px;
        }
        .yk-kh img {
            width: 120px;
            height: 120px;
            position: absolute;
            top: 50%;
            left:5px;
            margin-top: -60px;
            border-radius: 50%;
        }
        .yk-kh .msg {
            display: inline-block;
            position: absolute;
            left: 145px;
            padding: 5px;
            top: 15%;
            color: white;
            outline: 1px solid rgba(255,255,255,0.4);
            min-width: 300px;
            max-width: 400px;

        }

        .yk-kh .msg:before {
            content: "";
            position: absolute;
            border: 1px solid width;
            left: 0;
            top: 50%;
            width: 0;
            height: 0;
            margin-left: -10px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid rgba(255,255,255,0.4);
            margin-top: -10px;
        }

        .yk-kh .msg h6 {
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-size: 20px;

        }

        .yk-kh .msg h6  p{
            width: 30% !important;
            
        }
       



.service .view-show  {
    position: relative;
}
.service .view-show img{
    width: 500px;
    height: 400px;
}
.service .view-hide, .tintuc .view-hide  {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}
.service .view-show:hover .view-hide ,.tintuc .view-show:hover .view-hide {
    display: block;
}
.service .view-hide  a {
    width: 100%;
    position: absolute;
    color: white;
    text-shadow: 2px 2px 4px black;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    bottom: 20px;
}

.tintuc img {
    height: 200px;
    width: 200px;
}
       